In [2]:
import time
import pandas as pd
import urllib.request
import requests
import bs4
from collections import Counter
import konlpy
from konlpy.tag import Hannanum
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [3]:
data = pd.read_excel('C:/marketing/age_date.xlsx')
data

,Unnamed: 0,10대,20대,30대,40대,50대,60대
0,0,2021-02-25,2021-02-25,2021-02-25,2021-02-25,2021-02-25,2021-02-25
1,1,2021-02-26,2021-02-26,2021-02-26,2021-02-26,2021-02-26,2021-02-26
2,2,2021-03-01,2021-05-05,2021-02-27,2021-02-27,2021-02-27,2021-02-27
3,3,2021-02-28,2021-03-01,2021-02-28,2021-02-28,2021-02-28,2021-03-01
4,4,2021-02-27,2021-02-27,2021-05-05,2021-03-01,2021-03-01,2021-02-28
...,...,...,...,...,...,...,...
95,95,2021-04-30,2021-04-29,2022-02-24,2022-02-08,2021-04-21,2021-04-24
96,96,2021-04-15,2021-04-24,2021-10-26,2021-05-14,2021-05-12,2021-10-18
97,97,2022-02-09,2021-06-10,2021-10-19,2021-05-11,2023-01-29,2021-04-21
98,98,2021-09-02,2021-05-24,2021-07-16,2022-02-03,2022-02-03,2021-05-30
99,99,2021-08-09,2022-03-10,2022-01-09,2021-05-21,2021-05-20,2021-05-24

In [4]:
a = list(data["10대"])
a[:5]

['2021-02-25', '2021-02-26', '2021-03-01', '2021-02-28', '2021-02-27']

In [5]:
e = []
for n, y in enumerate(a):
    e.append((n,y))
e[:10]

[(0, '2021-02-25'),
 (1, '2021-02-26'),
 (2, '2021-03-01'),
 (3, '2021-02-28'),
 (4, '2021-02-27'),
 (5, '2021-05-05'),
 (6, '2021-03-02'),
 (7, '2021-10-05'),
 (8, '2023-04-20'),
 (9, '2021-03-10')]

In [6]:
e[0][1]

'2021-02-25'

In [10]:
i = 0
news = pd.read_csv("C:/marketing/age10_1/df" + str(i) + ".csv", encoding="utf-8-sig")
news["Date"] = "2021-02-25"
news

,Unnamed: 0,No,Publisher,Rank,Title,URL,Date
0,0,1,국민일보,1,“집 와보니 엄마가…” 단둘이 살던 아들의 수상한 신고,https://n.news.naver.com/article/005/000161021...,2021-02-25
1,1,2,국민일보,2,“로또 없어서 산 연금복권이”…정년 앞두고 21억 대박,https://n.news.naver.com/article/005/000161020...,2021-02-25
2,2,3,국민일보,3,"“중3 아들, 주사 맞고 혈액암” 백신 피해자 고통 ‘여전’",https://n.news.naver.com/article/005/000161010...,2021-02-25
3,3,4,국민일보,4,"“盧영화 보고 울어”…尹, 노무현 14주기 추도식에 화환",https://n.news.naver.com/article/005/000161022...,2021-02-25
4,4,5,국민일보,5,"“아, 월요일…” 부러운 ‘한강 멍때리기 대회’ [포착]",https://n.news.naver.com/article/005/000161020...,2021-02-25
...,...,...,...,...,...,...,...
160,160,161,디지털데일리,1,프랑스·일본에서 ‘제4이통’이 등장했더니 벌어진 일,https://n.news.naver.com/article/138/000214891...,2021-02-25
161,161,162,디지털데일리,2,"전국 황사 영향권, 미세먼지도 '매우 나쁨' … 보건용 마스크 착용해야",https://n.news.naver.com/article/138/000214890...,2021-02-25
162,162,163,디지털데일리,3,위메이드 10년만의 첫 1위 ‘나이트 크로우’ 잘 나가네…게임사업 ‘장밋빛’,https://n.news.naver.com/article/138/000214891...,2021-02-25
163,163,164,디지털데일리,4,"[반디배 재도약] ① 삼성·SK, 반도체 재고 49조…하반기 적자 벗어날까",https://n.news.naver.com/article/138/000214891...,2021-02-25
164,164,165,디지털데일리,5,[반디배 재도약] ② TSMC마저 역성장…파운드리 전성시대 지나갔나,https://n.news.naver.com/article/138/000214891...,2021-02-25

In [14]:
news_A = []
news_E = []
total = 0
for i in range(5):
    news = pd.read_csv("C:/marketing/age10_1/df" + str(i) + ".csv", encoding="utf-8-sig")
    news["Date"] = e[i][1]
    total += len(news["URL"])
    news_A.append([news["Date"], news["URL"]])
    news_E.extend([news["Date"], news["URL"]])

In [15]:
news_A

[[0      2021-02-25
  1      2021-02-25
  2      2021-02-25
  3      2021-02-25
  4      2021-02-25
            ...
  160    2021-02-25
  161    2021-02-25
  162    2021-02-25
  163    2021-02-25
  164    2021-02-25
  Name: Date, Length: 165, dtype: object,
  0      https://n.news.naver.com/article/005/000161021...
  1      https://n.news.naver.com/article/005/000161020...
  2      https://n.news.naver.com/article/005/000161010...
  3      https://n.news.naver.com/article/005/000161022...
  4      https://n.news.naver.com/article/005/000161020...
                               ...
  160    https://n.news.naver.com/article/138/000214891...
  161    https://n.news.naver.com/article/138/000214890...
  162    https://n.news.naver.com/article/138/000214891...
  163    https://n.news.naver.com/article/138/000214891...
  164    https://n.news.naver.com/article/138/000214891...
  Name: URL, Length: 165, dtype: object],
 [0      2021-02-26
  1      2021-02-26
  2      2021-02-26
  3      2021-02-26
  4      2021-02-26
            ...
  160    2021-02-26
  161    2021-02-26
  162    2021-02-26
  163    2021-02-26
  164    2021-02-26
  Name: Date, Length: 165, dtype: object,
  0      https://n.news.naver.com/article/020/000349870...
  1      https://n.news.naver.com/article/020/000349870...
  2      https://n.news.naver.com/article/020/000349874...
  3      https://n.news.naver.com/article/020/000349863...
  4      https://n.news.naver.com/article/020/000349868...
                               ...
  160    https://n.news.naver.com/article/031/000074760...
  161    https://n.news.naver.com/article/031/000074764...
  162    https://n.news.naver.com/article/031/000074762...
  163    https://n.news.naver.com/article/031/000074764...
  164    https://n.news.naver.com/article/031/000074760...
  Name: URL, Length: 165, dtype: object],
 [0      2021-03-01
  1      2021-03-01
  2      2021-03-01
  3      2021-03-01
  4      2021-03-01
            ...
  160    2021-03-01
  161    2021-03-01
  162    2021-03-01
  163    2021-03-01
  164    2021-03-01
  Name: Date, Length: 165, dtype: object,
  0      https://n.news.naver.com/article/020/000349870...
  1      https://n.news.naver.com/article/020/000349870...
  2      https://n.news.naver.com/article/020/000349874...
  3      https://n.news.naver.com/article/020/000349863...
  4      https://n.news.naver.com/article/020/000349868...
                               ...
  160    https://n.news.naver.com/article/031/000074760...
  161    https://n.news.naver.com/article/031/000074764...
  162    https://n.news.naver.com/article/031/000074762...
  163    https://n.news.naver.com/article/031/000074764...
  164    https://n.news.naver.com/article/031/000074760...
  Name: URL, Length: 165, dtype: object],
 [0      2021-02-28
  1      2021-02-28
  2      2021-02-28
  3      2021-02-28
  4      2021-02-28
            ...
  160    2021-02-28
  161    2021-02-28
  162    2021-02-28
  163    2021-02-28
  164    2021-02-28
  Name: Date, Length: 165, dtype: object,
  0      https://n.news.naver.com/article/005/000161021...
  1      https://n.news.naver.com/article/005/000161020...
  2      https://n.news.naver.com/article/005/000161010...
  3      https://n.news.naver.com/article/005/000161022...
  4      https://n.news.naver.com/article/005/000161020...
                               ...
  160    https://n.news.naver.com/article/138/000214891...
  161    https://n.news.naver.com/article/138/000214890...
  162    https://n.news.naver.com/article/138/000214891...
  163    https://n.news.naver.com/article/138/000214891...
  164    https://n.news.naver.com/article/138/000214891...
  Name: URL, Length: 165, dtype: object],
 [0      2021-02-27
  1      2021-02-27
  2      2021-02-27
  3      2021-02-27
  4      2021-02-27
            ...
  160    2021-02-27
  161    2021-02-27
  162    2021-02-27
  163    2021-02-27
  164    2021-02-27
  Name: Date, Length: 165, dtype: object,
  0      https://n.news.naver.com/article/005/000161021...
  1      https://n.news.naver.com/article/005/000161020...
  2      https://n.news.naver.com/article/005/000161010...
  3      https://n.news.naver.com/article/005/000161022...
  4      https://n.news.naver.com/article/005/000161020...
                               ...
  160    https://n.news.naver.com/article/138/000214891...
  161    https://n.news.naver.com/article/138/000214890...
  162    https://n.news.naver.com/article/138/000214891...
  163    https://n.news.naver.com/article/138/000214891...
  164    https://n.news.naver.com/article/138/000214891...
  Name: URL, Length: 165, dtype: object]]

In [16]:
news_E

[0      2021-02-25
 1      2021-02-25
 2      2021-02-25
 3      2021-02-25
 4      2021-02-25
           ...
 160    2021-02-25
 161    2021-02-25
 162    2021-02-25
 163    2021-02-25
 164    2021-02-25
 Name: Date, Length: 165, dtype: object,
 0      https://n.news.naver.com/article/005/000161021...
 1      https://n.news.naver.com/article/005/000161020...
 2      https://n.news.naver.com/article/005/000161010...
 3      https://n.news.naver.com/article/005/000161022...
 4      https://n.news.naver.com/article/005/000161020...
                              ...
 160    https://n.news.naver.com/article/138/000214891...
 161    https://n.news.naver.com/article/138/000214890...
 162    https://n.news.naver.com/article/138/000214891...
 163    https://n.news.naver.com/article/138/000214891...
 164    https://n.news.naver.com/article/138/000214891...
 Name: URL, Length: 165, dtype: object,
 0      2021-02-26
 1      2021-02-26
 2      2021-02-26
 3      2021-02-26
 4      2021-02-26
           ...
 160    2021-02-26
 161    2021-02-26
 162    2021-02-26
 163    2021-02-26
 164    2021-02-26
 Name: Date, Length: 165, dtype: object,
 0      https://n.news.naver.com/article/020/000349870...
 1      https://n.news.naver.com/article/020/000349870...
 2      https://n.news.naver.com/article/020/000349874...
 3      https://n.news.naver.com/article/020/000349863...
 4      https://n.news.naver.com/article/020/000349868...
                              ...
 160    https://n.news.naver.com/article/031/000074760...
 161    https://n.news.naver.com/article/031/000074764...
 162    https://n.news.naver.com/article/031/000074762...
 163    https://n.news.naver.com/article/031/000074764...
 164    https://n.news.naver.com/article/031/000074760...
 Name: URL, Length: 165, dtype: object,
 0      2021-03-01
 1      2021-03-01
 2      2021-03-01
 3      2021-03-01
 4      2021-03-01
           ...
 160    2021-03-01
 161    2021-03-01
 162    2021-03-01
 163    2021-03-01
 164    2021-03-01
 Name: Date, Length: 165, dtype: object,
 0      https://n.news.naver.com/article/020/000349870...
 1      https://n.news.naver.com/article/020/000349870...
 2      https://n.news.naver.com/article/020/000349874...
 3      https://n.news.naver.com/article/020/000349863...
 4      https://n.news.naver.com/article/020/000349868...
                              ...
 160    https://n.news.naver.com/article/031/000074760...
 161    https://n.news.naver.com/article/031/000074764...
 162    https://n.news.naver.com/article/031/000074762...
 163    https://n.news.naver.com/article/031/000074764...
 164    https://n.news.naver.com/article/031/000074760...
 Name: URL, Length: 165, dtype: object,
 0      2021-02-28
 1      2021-02-28
 2      2021-02-28
 3      2021-02-28
 4      2021-02-28
           ...
 160    2021-02-28
 161    2021-02-28
 162    2021-02-28
 163    2021-02-28
 164    2021-02-28
 Name: Date, Length: 165, dtype: object,
 0      https://n.news.naver.com/article/005/000161021...
 1      https://n.news.naver.com/article/005/000161020...
 2      https://n.news.naver.com/article/005/000161010...
 3      https://n.news.naver.com/article/005/000161022...
 4      https://n.news.naver.com/article/005/000161020...
                              ...
 160    https://n.news.naver.com/article/138/000214891...
 161    https://n.news.naver.com/article/138/000214890...
 162    https://n.news.naver.com/article/138/000214891...
 163    https://n.news.naver.com/article/138/000214891...
 164    https://n.news.naver.com/article/138/000214891...
 Name: URL, Length: 165, dtype: object,
 0      2021-02-27
 1      2021-02-27
 2      2021-02-27
 3      2021-02-27
 4      2021-02-27
           ...
 160    2021-02-27
 161    2021-02-27
 162    2021-02-27
 163    2021-02-27
 164    2021-02-27
 Name: Date, Length: 165, dtype: object,
 0      https://n.news.naver.com/article/005/000161021...
 1      https://n.news.naver.com/article/005/000161020...
 2      https://n.news.naver.com/article/005/000161010...
 3      https://n.news.naver.com/article/005/000161022...
 4      https://n.news.naver.com/article/005/000161020...
                              ...
 160    https://n.news.naver.com/article/138/000214891...
 161    https://n.news.naver.com/article/138/000214890...
 162    https://n.news.naver.com/article/138/000214891...
 163    https://n.news.naver.com/article/138/000214891...
 164    https://n.news.naver.com/article/138/000214891...
 Name: URL, Length: 165, dtype: object]

In [17]:
len(news_A)

5

In [18]:
len(news_E)

10

In [19]:
type(news_A)

list